*{
    background-color: #3E4347;
    margin: 0px;
}
#td1{
    color: white;
    padding-right: 20px;
}
#div1{
    padding-left: 70px;
    background-color: #3E4347;
    height: 100px;
}
#ion{
    height: 50px;
    width: 20px;
}
#sel{
    color: white;
    background-color:  #3E4347;
    text-decoration: none;
    width: 120px;
    height: 20px;
}
#td2{
    padding-left: 800px;
}
#img1{
    height: 50px;
    border-radius: 30px;
}
#td3{
    padding-left: 10px;
}
#imp1{
    width: 10px;
}
#td4{
    padding-top: 20px;
}
#gob1{
    height: 280px;
    border-radius: 10px;
    width: 250px;
}
#td5{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 50px;
}
#td6{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 40px;
}
#td7{
    padding-left: 40px;
    color: white;
}
.ion2{
    color: #eaeaea;
}
#td8{
    color: white;
    padding-left: 40px;
}
#butt{
    background-color: white;
    color: black;
    width: 110px;
    height: 30px;
    border-radius: 8px;
}
#ion3{
     background-color: white;
}
#td9{
    padding-left: 40px;
}
#butt2{
    width: 110px;
    height: 30px;
    border-radius: 8px;
}
#td10{
    padding-top: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.td_1{
    color: white;
}
.img2{
    height: 176px;
    border-radius: 10px;
}